leafsnap-dataset
leafsnap-dataset-readme.txt
ProjectDescription.synctex.gz
ProjectDescription.log
ProjectDescription.aux
dataMats10.mat
dataMats100.mat
dataMats.mat
params10zi.mat
params10ri.mat
params100zi.mat
params100ri.mat
TestLeaf.jpg
Leaf-Control
Leaves
